<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
            <% include ../static/partials/messages.ejs %>
            <div style="display: flex; align-items:center;"></div>
                    <h1><%= wiki.title %></h1>
                  </div>
        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
        <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="wiki">
        <p><%= wiki.body %></p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>