<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../static/partials/head.ejs%>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <p><%= currentUser.email %></p>
        <p><%= currentUser.username %></p>
        <% if (currentUser.role == 0) { %>
        <p>Click below to upgrade your account to premium</p>
        <form action="/user/upgrade" method="POST" id=charge>
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_EtCAbfcjrciYEEE08tyNwh2E00pvVxtT5f"
                data-amount="1000"
                data-name="Blocipedia Premium"
                data-description="This allows you to make wikis private"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
  </script>
        </form>
        <% } else if (currentUser.role == 1) { %>
            <a href="/user/downgrade" class="btn btn-primary btn-lg">Downgrade to standard</a>
        <%}%>

    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>

</html>